<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>messages page</title>
</head>
<body>
{% if messages %}
  {% for message in messages %}
    {% if message.tags == "success" %}
    <div class="alert alert-dismissible alert-success fade show shadow">
      <strong>{{message}}</strong>
      <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    </div>
    {% else %}
    <div class="alert alert-dismissible alert-danger fade show shadow">
      <strong>{{message}}</strong>
      <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    </div>
    {% endif %}
 {% endfor %}
{% endif %}
</body>
</html>