{% extends 'base.html' %}
{% load static %}
{% block content %}
<!--section start-->
<section id="loginbg">
  <!--container start-->
  <div class="container py-5 mx-auto">
    <div class="row d-flex justify-content-center align-items-center mx-auto">
      <div class="col col-xl-10">
        <div class="card mb-3" id="logincardradius">
          <div class="row g-0">
            <div class="col-md-6 col-lg-7 mx-auto d-flex align-items-center">
              <div class="card-body p-sm-1 text-black">
                    <!--form start-->
                <form action="{% url 'products:add_product' %}" method="POST" enctype="multipart/form-data">
                  {% csrf_token %}
                  <div class="d-flex align-items-center mb-3 pb-1">
                    <i class="fas fa-cubes fa-2x me-3" id="logincardbg"></i>
                  </div>
                  <h5 class="h3 fw-normal mb-3 pb-3" id="loginletterspacing">ADD Product</h5>
<!--                  for function based view use register_form instead of form-->
                  {% for field in form %}
                    <div class="form-group row">
                        <div class="col-lg-4 col-md-3 cold-sm-6 col-form-label"> {{field.label_tag}}</div>
                        <div class="col-lg-8 col-md-3 cold-sm-6"> {{field}} </div>
                    </div>
                    {% for error in field.errors %}
                    <div id="errormessage">
                        *{{ error|escape }}
                    </div>
                    {% endfor %}
                  {% endfor %}
                  <div class="pt-1 mb-4">
                    <button class="btn btn-dark btn-lg btn-block" type="submit">ADD</button>
                  </div>
                </form>
                <!--form end-->
              </div>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--container end-->
</section>
<!--section end-->
{% endblock %}