{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content %}
<!--Slider start-->
<!--nav bar for category start-->
<h3 class="display-4 text-center mt-4 mb-3">All Products</h3>
<div class="container" id="navmargin">
<ul class="nav nav-pills">
  <li class="mb-3">
      <form class="d-flex">
          {% csrf_token %}
         {% render_field category_filter.search class="form-control" placeholder="Search" %}
        <button class="btn btn-outline-secondary" id="buttoncolour" type="submit">Search</button>
      </form>
  </li>
</ul>
<a href="{% url 'products:add_category' %}" class="btn btn-outline-secondary"> Add
        Category</a>
</div>
<!--navbar for categories end-->
<!--container for men clothes start-->
<section id="ImageID1" class="container">
    <div class="row text-center">
        <!--for loop for products item start-->
        {% if object_list %}
        <div class="list-grid-content">
            <div class="list-view-section">
                <div class="list-table review-forms-table table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Category Name
                                </th>
                                <th scope="col">Parent
                                </th>
                                <th scope="col">Created Date
                                </th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for category in object_list %}
                            <tr>
                                <td><p class="text-truncate">{{ category.name|truncatechars:25 }}</p></td>
                                <td><p class="text-truncate">{% if category.parent %}{{ category.name|truncatechars:25 }}{% else %}N/A{% endif %}</p></td>
                                <td><p class="text-truncate">{{ category.created|date:"d-m-Y" }}</p></td>
                                <td>
                                    <div class="action-end">
                                        <a href="{% url 'products:edit_category' category.id %}" class="hide-icon action-bg-green">Edit</a>
                                        <a href="{% url 'products:delete_category' category.id %}" class="hide-icon action-bg-green">Delete</a>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!--if product not available-->
        {% else %}
            <section id="ImageID1" class="container">
                <div class="alert alert-danger" role="alert" id="marginmessage">
                    <img src="{% static 'userlogin/noproducts.png' %}">
                    <h2 class="display-4 text-center mt-5 mb-3">Oops..!! Products Not Available..</h2>
                </div>
            </section>
        {% endif %}
        <!--for loop for products item end-->
    </div>
</section>
<!--pagination start-->
{% if categories_item.has_other_pages %}
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center" >
        <!--check that previous page is exists or not-->
            {% if categories_item.has_previous %}
        <li class="page-item disabled">
          <a class="page-link" href="?page={{ categories_item.previous_page_number }}" tabindex="-1" aria-disabled="true">Previous</a>
        </li>
        <!--not exists then disabled-->
        {% else %}
        <li class="disabled">
          <span class="page-link">Previous</span>
        </li>
        {% endif %}
        <!--start loop for all pages-->
        {% for i in categories_item.paginator.page_range %}
            {% if categories.number == i %}
              <li class="page-item active" aria-current="page"><span>{{ i }}</span></li>
              {% else %}
              <li class="page-link"><a href='?page={{ i }}'>{{ i }}</a></li>
            {% endif %}
        {% endfor %}
        <!--check that next page is exists or not-->
        {% if categories_item.has_next %}
        <li class="page-item">
          <a class="page-link" href="?page={{ products_item.next_page_number }}">Next</a>
        </li>
        {% endif %}
    </ul>
</nav>
{% endif %}
<!--pagination end-->
{% endblock %}